.titulo_jogo{
    display: flex;
    margin: auto;
    justify-content: center;
    font-family: sans-serif;
    margin-bottom: 20px;


}
.tela_jogo{
    display: flex;
    margin: auto;
    justify-content: center;
}

.Score{
    font-size: 30px;
}

#Score{
    font-size: 25px;
    border: none;
}